<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src = "http://d3js.org/d3.v3.js"></script>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>
<h1>D3 테스트</h1>

<svg th:width="500" th:height="500"></svg>

<script>
    const dataFile = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50];
    const color = ['skyblue', 'blue', 'lime', 'red', 'yellowgreen'
    , 'violet', 'blueviolet', 'chocolate', 'darkgreen', ' yellow']
    const svg = d3.select('svg');

    svg.selectAll('bar')
        .data(dataFile)
        .enter().append('rect')
        .attr('fill', (d, i) => {return color[i]})
        .attr('height', (d, i) => {return d })
        .attr('width', 40)
        .attr('x', (d, i) => {return 50 * i })
        .attr('y', (d, i) => {return 100 - dataFile[i]})
</script>
</body>

</html>